@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
*{
	box-sizing:border-box;
	padding:0;
	margin:0;
}


body{
	background-color: #8499B1;
	font-family: 'Rajdhani', sans-serif;
}

nav ul{
	padding: 10px;
	overflow: auto;				/* specifies what happens if content overflows an element's box */
	background-color: black; /*Padding takes background color*/
	list-style:none; /* takes away the bullet points */
}

nav li{
	float: left;	/*floats the bullet point list across the screen from the left*/
	width: 33.33%;	/*sets the width apart for each item*/
	text-align: center;
	border: 2px solid red;
}

nav a {
	color: #CCFF66 ;
	text-decoration: none; /*gets rid of underline*/
	font-size: 20px;
	transition: 1s;
}

nav a:hover{
	 color: #8CC7A1;
}

.header{
	padding: 50px 50px 200px 200px;
	background-image: url("../images/nyc.jpeg"); /* ../ goes up one level or / to go to the root */
	background-size: cover;
	background-position: center;
	color: #fff;
	font-family: 'Courgette', cursive;
}

.main-content{
	background-color: #202C59;
	padding: 20px;
	margin: 0px 0px 20px 0px;
	color: #fff;
	overflow:auto;
}

.main-content h2{
	color: #C1BDB3;
	float:center;
	background-color: blue;
	margin: 10px;
	font-family: 'Courgette', cursive;
	/*text-align:center;
	padding: 25px;*/
}

.half-img{
	width:50%;
	display:block;
	float:left;
	padding:5px;
}


/*These are Utility Classes*/
.center-text{
	text-align:center;
}

.abouth1{
	font-family: 'Courgette', cursive;
	background-image: url("../images/nycdusk.jpg");
	background-size:cover;
	background-position: center;
	padding: 250px 250px 250px 200px;
	color:white;
}

div p{
	color: white;
}

.about-content{
	background-color: #202C59;
	padding: 20px;
	margin: 0px 0px 20px 0px;
	color: #fff;
	overflow:auto;
}